body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fdff;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar li:hover {
  text-decoration: underline;
}
.navbar {
 background-color:#023b47;
  padding: 5px;
}

.navbar p{
  color: white;
  letter-spacing: 1px;
}
.navbar p:hover{
  color: white;
}
.navbar a:hover{
  cursor: pointer;
}
.home {
  margin-top: -20px;
  width: 100vw;
  height: 100vh;
  align-items:center;
  display: flex;
  flex-direction: column;
  background-image: url('./images/background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-content: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 8px #DA1629 ;
  letter-spacing: 2px;
  font-weight: 700;
}

.home h1{
  font-size: 100px;
}
.home h4{
  font-size: 50px;
}

#messages .list-group-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 40px;
  list-style-type: none;
  margin:3px;
}

.list-group-item:hover{
  background-color: rgb(235, 235, 235);
}

.list-group-item img {
  height: 68px;
  width: 68px;
  border-radius: 50px;
}

.panel-default{
  margin: 10px;
}

.panel-default img{
  margin: 10px ;
  height:200px;
  width:200px;
}

.footer {
  background-color: #023b47;
  padding:50px; 
  color: white;
}

.fa-3x{
  margin: 5px;
}

.footer input {
  background-color:#023b47;
  font-size: 15px;
  border: none;
  border-bottom: 1px #023b47 solid;
}

.footer-line{
  margin: 10px;
  border-radius: 20px;
  text-shadow: 1px 3px 8px #023b47;
}

.containers{
  font-size: 15px;
}

.containers input{
  font-size: 12px;
  border-radius: 5px;
}
